{include file="header0" /}
<div id="content">
  <div class="grid-container">
    <div class="grid-100">
      <div class="box">
        <div class="box-title">
          <table width="100%">
            <tr>
              <td>
                <div><strong class="icon-reorder"> 
                    {if condition="$data.id >'0'"}修改资料
                    {else/}增加资料
                     {/if}
                    </strong></div>
              </td>
            </tr>
          </table>
        </div>
        <div class="box-content">
          <form method="post" class="pure-form" action="<?php
            echo url('Index/coach/update').'?id='.$data['id'] ?>">

            <input type="hidden" name="id" value="{$data['id']}" />
            <input type="hidden"   name="savetype" id="savetype" value="edit" />
            <table class="pure-table data-table data-table-edit">
              <tr>
                <td class="row-1">教练编号：</td>
                <td class="row-2"><input type="text" name="coach_code" 
                  value="{$data.coach_code}" data-validate="required:請輸入教练编号">
                  <div class="tips"></div>
                </td>
              </tr>
               <tr>
                <td class="row-1">中文姓名：</td>
                <td class="row-2"><input type="text" name="coach_name" 
                  value="{$data.coach_name}" data-validate="required:請輸入中文姓名">
                  <div class="tips"></div>
                </td>
              </tr>
              <tr>
                <td class="row-1">外文姓名：</td>
                <td class="row-2"><input type="text" name="coach_foreign_name" value="{$data.coach_foreign_name}"></td>
              </tr>
              <tr>
                  <td class="row-1">性別：</td>
                  <td class="row-2">
                  <select name="coach_sex">
                      {if condition="$data.coach_sex =='女'"}
                    <option value="男"  >男</option>
                    <option value="女" selected >女</option>
                    {else/}
                    <option value="男" selected>男</option>
                    <option value="女">女</option>
                    {/if}
                  </select>
                  </td>
                </tr>
                <tr>
                    <td class="row-1">联系电话：</td>
                    <td class="row-2"><input type="text" name="coach_phone" value="{$data.coach_phone}"></td>
                  </tr>
              <tr>
                <td class="row-1">持有：</td>
                <td class="row-2"><input type="text" name="coach_hold" value="{$data.coach_hold}"></td>
              </tr>
              <tr>
                <td class="row-1">執照編號：</td>
                <td class="row-2"><input type="text" name="coach_license" value="{$data.coach_license}"></td>
              </tr>
              <tr>
                <td class="row-1">排序：</td>
                <td class="row-2">
                  <input type="text" name="coach_order" value="{$data.coach_order}">
    
                </td>
              </tr>
              <tr>
                <td class="row-1">是否啓用：</td>
                <td class="row-2">
                    {if condition="$data.coach_status ==1"}
                    <input type="checkbox" name="coach_status" checked="checked" />
                    {else/}
                    <input type="checkbox" name="coach_status"  />
                    {/if}
              </tr>
            </table>
            <p class="text-center">
              <button type="submit" class="pure-button pure-button-primary  icon-check-square-o" onclick="return checkedit()">儲存</button>
              {if condition="$data.id >'0'"}
              &nbsp;&nbsp; <button type="submit"
              class="button border-red" 
              onclick="return checkdel()">
               <span   class="icon-trash-o"></span> 删除</button>
              {/if}
             &nbsp;&nbsp; <a class="pure-button" href="{:url('Index/coach/index')}" onclick="return cancel()">取消</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function checkedit(){
    if(confirm("您確定要修改嗎?")){
      document.getElementById("savetype").value = "save";
       return true;
    }else{
      return false;
    }
  }
  function checkdel(){
    if(confirm("您確定要删除此记录嗎?")){
      document.getElementById("savetype").value = "del";
       return true;
    }else{
      return false;
    }
  }
  function cancel(){
    if(confirm("您確定要取消嗎?")){
       return true;
    }else{
      return false;
    }
  }
  </script>