{include file="header" /}
<table class="table table-hover text-center">
  <tr>
    <th >收據日期</th>
    <th >收據號碼</th>
    <th >收據内容</th>
   

    <th >總金額</th>
    
    <th >经办人</th>
    <th >操作</th>
  </tr>

  {volist name="listdata" id="rec" }
  <tr>
      <td>{$rec.receipt_date}</td>
    <td>{$rec.receipt_number}</td>
   
    <td>{$rec.receipt_content}</td>
    <td>{$rec.receipt_total_price}</td>
    <td>{$rec.modifiedBy}</td>

    <td>
      <div class="button-group">
        <a class="button border-main" href=<?php echo url('index/receipt/edit') ?>?id={$rec.receipt_id}><span class="icon-edit"></span>
          修改</a>

        <a class="button border-red" method="delete" href=<?php echo url('index/receipt/delete') ?>?id={$rec.receipt_id}
          onclick="return del()"><span class="icon-trash-o"></span> 删除</a>
      </div>
    </td>
  </tr>
  {/volist}
</table>
<table width="100%">
    <tr>
      <td>
        <div class="panel-head"><strong > {$listdata->render()} 总记录数（{$listdata->total()}）</strong></div>
      </td>

    </tr>
  </table>
{include file="footer" /}

