
<div class="panel admin-panel">
 <!-- <div class="panel-head"><strong class="icon-reorder">工作日誌-{$title}</strong></div>-->
  <div class="padding border-bottom">  
  <a class="button border-blue" href='{:url("index/worklog/read1")}'> 新學生</a>
  <a class="button border-blue" href='{:url("index/worklog/read2")}'> 十天新稟</a>
  <a class="button border-blue" href='{:url("index/worklog/read3")}'> 理論</a>
  <a class="button border-blue" href='{:url("index/worklog/read4")}'> 理論合格</a>
  <a class="button border-blue" href='{:url("index/worklog/read5")}'> 理論不合格</a>
  <a class="button border-blue" href='{:url("index/worklog/read6")}'> 技術</a>
  <a class="button border-blue" href='{:url("index/worklog/read7")}'> 技術合格</a>
  <a class="button border-blue" href='{:url("index/worklog/read8")}'> 技術不合格</a>
  <a class="button border-blue" href='{:url("index/worklog/read9")}'> 技術未有結果</a>
  <a class="button border-blue" href='{:url("index/worklog/read10")}'> 已分配師傅</a>
  <a class="button border-blue" href='{:url("index/worklog/read11")}'> 未分配師傅</a>  
  <a class="button border-blue" href='{:url("index/worklog/read12")}'> 未完成技術付費</a>
  <a class="button border-blue" href='{:url("index/worklog/read13")}'> 已完成技術付費</a>
  <a class="button border-blue" href='{:url("index/worklog/read14")}'> 師傅</a>

  </div> 
</div>

