{include file="header0" /}
<div id="content">
  <div class="grid-container">
    <div class="grid-100">
      <div class="box">
        <div class="box-title">
          <table width="100%">
            <tr>
              <td>
                <div><strong class="icon-reorder">
                    修改密码
                    
                  </strong></div>
              </td>
            </tr>
          </table>
        </div>
        <div class="box-content">
          <form method="post" class="pure-form" action="<?php
            echo url('Index/user/updatepassword') ?>">

          
            <input type="hidden" name="savetype" id="savetype" value="edit" />
            <table class="pure-table data-table data-table-edit">
              <tr>
                <td class="row-1">原密碼：</td>
                <td class="row-2"><input type="password"  style="width:50%;" name="user_password0"
                     value=""></td>
              </tr>
              
              <tr>
                <td class="row-1">新密碼：</td>
                <td class="row-2"><input type="password" style="width:50%;" name="user_password1" id="user_password1"
                     value="">
                </td>
              </tr>
              <tr>
                <td class="row-1">確認新密碼：</td>
                <td class="row-2">
                    <input type="password" style="width:50%;" name='user_password2'  id="user_password2"
                    value="">
                </td>
              </tr>
              <tr>
            </table>
            <br/>
            <p class="text-center">
                <button type="submit" class="pure-button pure-button-primary  icon-check-square-o" onclick="return checkedit()">保 存</button>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  function checkedit() {
    if (document.getElementById("user_password1").value=="")
    {
  
         return false;
    }  
    if (document.getElementById("user_password1").value!==document.getElementById("user_password2").value)
    {
         alert('前后输入的新密码不一致！');
         return false;
    }  
    if (confirm("您確定要修改密码嗎?")) {
      document.getElementById("savetype").value = "save";
      return true;
    } else {
      return false;
    }
  }
</script>


